<div class="container">
    <h3 class="mt-3">Your shopping cart:</h3>
    <ul class="list-group mt-3">
        <li *ngFor="let item of cartItems$ | async" class="list-group-item">
            <div class=" d-flex" style="justify-content: space-between;">
                <div>
                    <h1>{{item.product.name}}</h1>
                    <h2>Price: {{item.product.price}} RSD</h2>
                    <h3>Quantity: {{item.quantity}}</h3>
                </div>

                <img src="{{item.product.image}}" width="100">
            </div>
            <div class="d-flex pt-2" style="justify-content: flex-end">
                <button class="btn btn-danger" (click)="removeProduct(item)">Remove this item</button>
            </div>
        </li>
    </ul>
    <div class="d-flex mt-3" style="justify-content: space-evenly;">
        <button class="btn btn-warning" (click)="removeAll()">Remove all items</button>
        <button class="btn btn-success" (click)="payment()">Proceed to payment</button>
    </div>
</div>