<div class="container my-3">
    <a routerLink="../"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg> Go back</a>
    <div class="d-flex mt-3">
        <ul class="list-group" style="max-width: 20%;">
            <a *ngFor="let category of categories$ | async; let i = index" (click)="setActiveCategory(category, i)"
                style="cursor: pointer;">
                <li class="list-group-item" [class.active]="i == currentIndex">{{category.name}}</li>
            </a>
        </ul>

        <div *ngIf="current" class="ml-3" style="max-width: 80%; width: 80%;">
            <app-category-details [category]="current"></app-category-details>
        </div>
    </div>
</div>