.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    max-width: 30%;
    width: 20%;
    margin-left: 10px;
}

#content {
    width: 75%;
    margin-left: 10px;
}

@media (max-width: 960px){
    #content {
        width: 100%;
        margin-left: 0;
    }

    .wrapper {
        display: block;
    }
    
}