<div class="container my-3">
    <div *ngIf="user !== undefined" class="d-flex">
        <img src="{{user.img}}" >
        <div id="profile-details">
            <p>Name: {{user.name}}</p>
            <p>Adress: {{user.adress}}</p>
            <p>Mobile phone: {{user.phone}}</p>
            <p>Company name: {{user.company}}</p>
            <p>Company adress: {{user.companyAdress}}</p>
            
        </div>
    </div>
    <ul class="list-group mt-3">
        <a routerLink="./myorders">
            <li class="list-group-item">My orders</li>
        </a>
        <a routerLink="./edit">
            <li class="list-group-item">Edit profile</li>
        </a>
    </ul>
</div>