<div>
    
    <h1>Upload a file</h1>
    <input type="file" (change)="onFileChange($event)" class="form-control-file">
    <button *ngIf="isFileUploaded" (click)="uploadData()" class="btn btn-large btn-success">Upload products</button>
    <p>This input is used only for updating products in a database. Download current products below, edit and reupload.
    </p>
    <h2>Download all products</h2>
    <button (click)="exportData()" class="btn btn-large btn-info">Download all products</button>
</div>