<div >
    <div class="form-group mt-3">
        <label for="categoryInput">Order status:</label>
        <select class="form-control" id="categoryInput" [(ngModel)]="orderCode">
            <option value="" selected>All orders</option>
            <option value="0">Pending</option>
            <option value="1">Awaiting shipping</option>
            <option value="2">Shipped</option>
            <option value="3">Completed</option>
            <option value="4">Declined</option>
        </select>
    </div>
    <div>
        <ng-container *ngIf="( orders$ | filter: orderCode)| async as data; else loading">
            <ul class="list-group mt-3">
                <div *ngIf="!(data.length > 0)">
                    There are no orders in this category.
                </div>
                <app-order-item *ngFor="let order of data" [order]="order"
                (accept)="acceptOrder($event)" (decline)="declineOrder($event)"
                (ship)="shipOrder($event)"></app-order-item>
            </ul>
        </ng-container>
        <ng-template #loading>
            Loading orders...
        </ng-template>
    </div>
</div>